.about-us {
    text-decoration: underline;
}
.about-us__text {
    margin-top: 30px;
    width: 1100px;
    font-size: 45px;
    font-weight: 400;
    line-height: 61px;
    text-align: left;
}

.about-us__button {
    margin-top: 30px;
    padding: 20px 40px;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: white;
    background-color: #AD1818;
}

@media (max-width: 1199px) {
    .about-us__text {
        width: 100%;
        font-size: 35px;
        line-height: 48px;
    }
}

@media (max-width: 767px) {
    .about-us__text {
        margin-top: 20px;
        width: 100%;
        font-size: 22px;
        line-height: 30px;
    }

    .about-us__button {
        padding: 14.5px 27px;
        font-size: 16px;
        line-height: 22px;
    }
}
